body {
    padding-top: 70px;
    background-color: #f8f8f8;
}

.main-wrapper {
    padding: 0 15px;
    min-height: 700px;
    background-color: #fff;
}

.navbar-inverse .navbar-toggle {
    color: white;
    font-weight: bold;
    border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: #DDD;
    color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
    color: white;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
    color: #333;
}

.glyphicon {
    color: #cdab51;
}
